[submodule "react-fundamentos"]
	path = react-fundamentos
	url = https://github.com/alvarofonteles/react-fundamentos.git
[submodule "react-avancado"]
	path = react-avancado
	url = https://github.com/alvarofonteles/react-avancando
